.signup__image--container {
  background-image: url(https://res.cloudinary.com/bach22/image/upload/v1671340879/avatar/photo-1670985099560-aa91caf54f71_ha0pyv.jpg);
  height: 100vh;
  background-size: cover;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login__image--container {
  background-image: url(https://res.cloudinary.com/bach22/image/upload/v1671504281/avatar/photo-1628202926206-c63a34b1618f_thmqym.jpg);
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}

/* https://res.cloudinary.com/bach22/image/upload/v1671340925/avatar/photo-1641805963238-a8d4717575d6_pmzlqy.jpg */
